@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    font-display: swap;
    src: url($furl) format('woff2');
  }
}


@include font("roboto", normal, 400, "../fonts/RobotoRegular.woff2");
@include font("roboto", italic, 400, "../fonts/RobotoItalic.woff2");
@include font("roboto", normal, 700, "../fonts/RobotoBold.woff2");
@include font("roboto", italic, 700, "../fonts/RobotoBoldItalic.woff2");