// FONTS
$systemFont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$userFont: Roboto, sans-serif; // User Font Family
$fontSize: 16px; // Body Font Size
$lineHeight: 1.65; // Document Line Height

// COLORS
$accent: orange; // Accent Color
$textColor: #343434; // Text Color